---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import PHP from "@/icons/php.astro";
import Laravel from "@/icons/laravel.astro";
import NestJS from "@/icons/nestJS.astro";
import AstroJS from "@/icons/astroJS.astro";
import Tauri from "@/icons/tauri.astro";
import CSharp from "@/icons/cSharp.astro";
import Ubuntu from "@/icons/ubuntu.astro";
import Windows from "@/icons/windows.astro";
import Angular from "@/icons/angular.astro";
import Expo from "@/icons/expo.astro";
import WordPress from "@/icons/wordpress.astro";
import Office from "@/icons/office.astro";
import Bash from "@/icons/bash.astro";
import SQLite from "@/icons/sqlite.astro";
import PostgreSQL from "@/icons/postgresql.astro";
import { skills } from "@cv";

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Tailwind,
  PHP,
  Laravel,
  NestJS,
  AstroJS,
  Tauri,
  "C#": CSharp,
  Ubuntu,
  Windows,
  Angular,
  Expo,
  WordPress,
  Office,
  Bash,
  SQLite,
  PostgreSQL
};
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const Icon = SKILLS_ICONS[name];
        
        return (
          <li>
            {Icon && <Icon />} 
            {name !== "C#" && <span>{name}</span>}
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
